{% extends "layout.html" %}
{% block body %}


<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
           
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Can Khan academy beat Byju's learning app?</h2>
           
            <a class="text-indigo-500 inline-flex items-center mt-4">
                <a href ="https://www.quora.com/Can-Khan-academy-beat-Byjus-learning-app">Reviews</a>
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
           
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">What should I prefer, Khan Academy, Unacademy or Byju's? If so, why?</h2>
           
            <a class="text-indigo-500 inline-flex items-center mt-4">
                <a href ="https://www.quora.com/What-should-I-prefer-Khan-Academy-Unacademy-or-Byjus-If-so-why">Reviews</a>
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
             
            </div>
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Which is better, Byju's, Vedantu, Toppr, Meritnation, Simplilearn, or Khan Academy? Why? </h2>
             
              <a class="text-indigo-500 inline-flex items-center mt-4">
                  <a href ="https://www.quora.com/Which-is-better-Byjus-Vedantu-Toppr-Meritnation-Simplilearn-or-Khan-Academy-Why">Reviews</a>
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
             
            </div>
          <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Is Khan Academy a good way to study for the SAT?</h2>
             
              <a class="text-indigo-500 inline-flex items-center mt-4">
                  <a href ="https://www.quora.com/Is-Khan-Academy-a-good-way-to-study-for-the-SAT">Reviews</a>
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">

          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Is Khan Academy good enough to get a perfect score in the SAT math section?</h2>
            
            <a class="text-indigo-500 inline-flex items-center mt-4">
                <a href ="https://www.quora.com/Is-Khan-Academy-good-enough-to-get-a-perfect-score-in-the-SAT-math-section">Reviews</a>
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>




















{% endblock %}  